*~
*.map
.vscode/
node_modules/
src/*.js
src/autocomplete/*.js
src/commands/*.js
src/dom/*.js
src/events/*.js
src/ext/showErrorMarker.js
src/ext/showFindReplace.js
src/ext/showKeyboardShortcuts.js
src/ext/StatusBar.js
src/ext/whitespace/convertIndentation.js
src/ext/whitespace/detectIndentation.js
src/ext/whitespace/Indentation.js
src/ext/whitespace/trimTrailingSpace.js
src/ext/menu_tools/getEditorKeyboardShortcuts.js
src/ext/menu_tools/overlayPage.js
src/keyboard/*.js
src/layer/*.js
src/lib/*.js
src/lib/lang/*.js
src/worker/*.js
src/workspace/*.js
src/mode/AsciiDocHighlightRules.js
src/mode/AsciiDocMode.js
src/mode/BlockComment.js
src/mode/ClojureHighlightRules.js
src/mode/ClojureMode.js
src/mode/CppHighlightRules.js
src/mode/CppMode.js
src/mode/CssCompletions.js
src/mode/CssHighlightRules.js
src/mode/CssMode.js
src/mode/CsvHighlightRules.js
src/mode/CsvMode.js
src/mode/DocCommentHighlightRules.js
src/mode/GlslHighlightRules.js
src/mode/GlslMode.js
src/mode/GoLangHighlightRules.js
src/mode/GoLangMode.js
src/mode/HaskellHighlightRules.js
src/mode/HaskellMode.js
src/mode/Highlighter.js
src/mode/HighlighterFactory.js
src/mode/HtmlCompletions.js
src/mode/HtmlHighlightRules.js
src/mode/HtmlMode.js
src/mode/JavaScriptHighlightRules.js
src/mode/JavaScriptMode.js
src/mode/JsonHighlightRules.js
src/mode/JsonMode.js
src/mode/JsxHighlightRules.js
src/mode/JsxMode.js
src/mode/LatexHighlightRules.js
src/mode/LatexMode.js
src/mode/LispHighlightRules.js
src/mode/LispMode.js
src/mode/MarkdownHighlightRules.js
src/mode/MarkdownMode.js
src/mode/MatchingBraceOutdent.js
src/mode/MatchingParensOutdent.js
src/mode/MatlabHighlightRules.js
src/mode/MatlabMode.js
src/mode/PureScriptHighlightRules.js
src/mode/PureScriptMode.js
src/mode/PythonHighlightRules.js
src/mode/PythonMode.js
src/mode/SvgHighlightRules.js
src/mode/SvgMode.js
src/mode/TextHighlightRules.js
src/mode/TextMode.js
src/mode/TsxMode.js
src/mode/TypeScriptHighlightRules.js
src/mode/TypeScriptMode.js
src/mode/XmlHighlightRules.js
src/mode/XmlMode.js
src/mode/YamlHighlightRules.js
src/mode/YamlMode.js
src/mode/behaviour/CssBehaviour.js
src/mode/behaviour/CstyleBehaviour.js
src/mode/behaviour/HtmlBehaviour.js
src/mode/behaviour/XQueryBehaviour.js
src/mode/behaviour/XmlBehaviour.js
src/mode/folding/AsciiDocFoldMode.js
src/mode/folding/CstyleFoldMode.js
src/mode/folding/FoldMode.js
src/mode/folding/HtmlFoldMode.js
src/mode/folding/LatexFoldMode.js
src/mode/folding/MarkdownFoldMode.js
src/mode/folding/MixedFoldMode.js
src/mode/folding/PythonFoldMode.js
src/mode/folding/XmlFoldMode.js
